body {
  margin: 0 auto;
}

header {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

header svg {
  color: white;
  margin-right: 2rem;
  margin-top: 2rem;
}

.encabezado {
  display: flex;
  justify-content: space-around;
}

.title-images {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.title-images :last-child {
  margin-left: 4rem;
}

.titulo {
  max-width: 50rem; 
  margin-left: 15rem;
}

.titulo h1 {
  font-size: 2.5rem;
}

hr {
  color: #b1acb3;
}

.articulos {
  display: flex;
  justify-content: space-around;
  align-content: center; 
  margin-left: 20rem;
  margin-right: 20rem;
}

.articulos div {
  width: 30%;
  margin: 1rem;
  padding: 3rem;
}

.articulos h3 {
  color: #3688c2;
  font-size: 1.5rem;
}

.articulos p {
  font-size: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  padding-top: 1rem;
}

footer img {
  padding-bottom: 1rem;
}

.facebook {
  background-color: #3b5998;
}

.whatsapp {
  background-color: #4ec148;
}

.twitter {
  background-color: #1ea1f3;
}

.plus {
  background-color: #fe6651;
}