body {
  margin: 0 auto;
}

header {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 2rem;
}

header svg {
  color: white;
  margin-right: 2rem;
  margin-top: 2rem;
}

.titulo {
 margin: 2rem;
 max-width: 50rem;
}

.articulos {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}