.checkEjercicio {
  width: 50%;
  margin: auto;
}

input {
  width: 5rem;
  height: 5rem;
  appearance: none;
  box-shadow: 0px 0px 1rem 0px black;
  border: .4rem  solid black;
  outline: .5rem solid white;
}

input:hover {
  background-color: rgba(0, 130, 0, 0.3);
}

input:checked {
  background-color: green;
}