@font-face {
  font-family: "Source Sans Pro Regular";
  src: url(../fonts/SourceSansPro-Regular.ttf) format("truetype");
}

body {
  font-family: "Source Sans Pro Regular";
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  color: white;
  width: 75%;
}

button {
  cursor: pointer;
}

/* ! Header */
.banner {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  font-size: 14px;
  width: 100%;
}

.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 15rem;
  margin-top: 2.7rem;
  box-shadow: 0px 0px 10px -5px;
}

.navegacion img {
  cursor: pointer;
}

.navegacion nav {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.navegacion ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.navegacion li{
  display: flex;
  align-items: center;
}

.navegacion a:hover {
  color: #ff8533;
  text-decoration: underline;
  text-underline-offset: 1.5rem;
}

.left-nav {
  display: flex;
  gap: 1.25rem;
}


.right-nav {
  display: flex;
  gap: 1.25rem; 
}

.right-nav i {
  cursor: pointer;
}

.navegacion a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 0.625rem;
}

/* ! MAIN CONTENT */
.slider {
  margin-top: 2rem;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.slider > img {
  width: 2.5rem;
  cursor: pointer;
}

.slider-lines {
  display: flex;
  margin-left: 50%;
  gap: 1rem;
  width: 20rem;
  height: 1.015rem;
}

.slider-lines hr {
  border: none;
  height: 0.150rem; 
  background: lightgray;
  margin: 10px 0;
}

.slider-lines hr:nth-child(3) {
  background: linear-gradient(to left, lightgrey 50%, #ff8533 50%);
}

.slider-lines i {
  color: lightgrey;
  cursor: pointer;
}

.tex-part h1 {
  font-size: 40px;
}

.tex-part h2 {
  color: black;
  font-size: 25px;
}

.tex-part :nth-child(4) {
  margin-top: 5rem;
}

.price-part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price-part button {
  color: white;
  background-color: #191919;
  border-radius: .5rem;
  border: none;
  width: 10rem;
  height: 2.5rem;
}

.price-part button:hover {
  background-color: #444;
}

.productos-populares {
  background-color: #f7f7f7;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
}

.productos-populares h1 {
  margin-top: 3rem;
}

.tabs {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 3rem;
  font-weight: bold;
}

.tabs .items:hover {
  color: #ff8533;
  text-decoration: underline;
  text-underline-offset: 3rem;
  text-decoration-thickness: .2rem;
  cursor: pointer;
}

.movil-section {
  border: 16px solid white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10rem;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-right: 10rem;
}

.text-section h1 {
  font-size: 40px;
}

.text-section h2 {
  color: black;
}

/* ! Footer */
footer {
  background-color: #191919;
  /* position: fixed;
  bottom: 0; */
  width: 100%;
}

.footer-enlaces a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  color: #898989;
}

.footer-enlaces a:hover {
  color: white;
  text-decoration: underline;
}

.footer-enlaces h1, h2, h3, h4 {
  color: white;
}

.footer-enlaces {
  display: flex;
  justify-content: space-around;
  padding: 1rem 15rem;
  gap: 1.25rem;
}

.footer-enlaces .item {
  flex-grow: 1;
  padding: 10px;
  min-width: 150px;
}

.footer-enlaces .item:last-child {
  flex-grow: 2;
}

.social-media {
  display: flex;
  gap: 1.5rem;
}

.social-media i {
  color: white;
}

.social-media i:hover {
  cursor: pointer;
}

.item a{
  line-height: 2rem;
  font-size: 18px;
  max-width: 1rem;
}

.footer-enlaces form input {
  width: 80%;
  height: 1.5rem;
  padding: 8px;
  border: 1px solid #ccc;
  color: white;
  background-color: transparent;
  border-radius: 5px;
}

.store-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem 1rem;
  width: 75%;
}

.store-zone hr {
  width: 100%;
}

.qr-zone {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.qr-zone img {
  height: 80px;
}

.google-play {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.google-play h4:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.google-play svg {
  height: 2rem;
}

.legal {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.legal .item {
  color: white;
  padding: 0 15rem 1rem;
  display: flex;
}

.legal .item p {
  margin-right: 1rem;
}

.legal .item:last-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}