* {
  margin: 0;
  padding: 0;
}

.privacidad {
  position: fixed;
  bottom: 0;
  background-color: blanchedalmond;
  width: 100%;
  text-align: center;
  padding: 1%;
  display: none;
}

button {
  font-size: 1rem;
  border: 2px solir black;
  background-color: #fff;
  padding: 1% 3%;
  cursor: pointer;
}