@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto";
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
}

span {
  cursor: pointer;
  text-decoration: underline;
}

.container {
  background-color: #f2f2f2;
}

.form-container {
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  color: #0073d6;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.radio {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

input[type="email"],
input[type="password"] {
  margin: 1rem;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: transparent;
  outline: none;
}

input[type="submit"] {
  border: none;
  border-radius: 1rem;
  height: 2rem;
  width: 70%;
}

.last-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.links-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 60%;
}

.grey-button {
  background-color: #ededed;
}

.google-button {
  background-color: #0073d6;
  color: white;
}

.icono-google {
  background-image: url("https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_google-256.png");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 20px 20px;
}
