body {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 10%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50%;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid black;
}