/* COLORES */
/* BACKGROUND #1E1E1E */
/* CARDS #2D2D2D */
/* ACCENTS #0085FF */
/* GRAY #8D8D8D */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1E1E1E;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem 2rem 6rem;
}

header img {
  cursor: pointer;
  width: auto;
  height: 7rem;
}

.button-group {
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  width: 7rem;
}

.button-gray {
  background-color: #8D8D8D;
  color: #1E1E1E;
}

.button-black {
  background-color: #2D2D2D;
  color: white;
}

main {
  padding: 4rem 6rem 0 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main small {
  color: #0085FF;
  font-size: 1.5rem;
}

main p  {
  margin: 0;
  color: #8D8D8D;
  font-size: 5rem;
}

main button {
  background-color: transparent;
  border: 1px solid #8D8D8D;
  color: #8D8D8D;
  margin-top: 1rem;
  width: 10rem;
}

main button:hover {
  background-color: #8D8D8D;
  color: #1E1E1E;
}

main img {
  width: auto;
  height: 25%;
}

/* ! Medias */

/* ? Teléfonos */
@media (max-width: 767px) {

  header {
    padding: 2rem;
  }

  .button-group {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }

  main small {
    font-size: 1rem;
  }

  main p {
    font-size: 3rem;
  }

  main img {
    width: 95%;
  }
}