/* COLORES */
:root {
  --color-background: #1E1E1E;
  --color-cards: #2D2D2D;
  --color-accents: #0085FF;
  --color-gray: #8D8D8D;
  --color-white: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
  margin: 0;
  color: var(--color-gray);
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.button-gray {
  background-color: var(--color-gray);
  color: var(--color-background);
}

.button-black {
  background-color: var(--color-cards);
  color: var(--color-white);
}

/* HEADER */
.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.index-header img {
  cursor: pointer;
  width: auto;
  height: 7rem;
}

.button-group {
  display: flex;
  gap: 1rem;
}

/* SECCION PRINCIPAL */
.index-main {
  padding: 4rem 6rem 0 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.index-main small {
  color: var(--color-accents);
  font-size: 1.5rem;
}

.index-main p {
  margin: 0;
  color: var(--color-gray);
  font-size: 5rem;
}

.index-main button {
  background-color: transparent;
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
  margin-top: 1rem;
  width: 10rem;
}

.index-main button:hover {
  background-color: var(--color-gray);
  color: var(--color-background);
}

.index-main img {
  width: auto;
  height: 25%;
}

/* SECCION LOGIN */
.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-main h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--color-gray);
}

.login-main span {
  color: var(--color-accents);
  cursor: pointer;
}

.login-main span:hover {
  text-decoration: underline;
}

.login-main p {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.login-main img {
  max-width: 150px;
  height: auto;
}

.login-main form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.login-main input[type="email"],
.login-main input[type="password"] {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--color-cards);
  border: none;
  border-radius: 5px;
  color: var(--color-gray);
}

.login-main input:focus {
  outline: 2px solid var(--color-accents);
}

.login-buttons {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.login-buttons input {
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button {
  background-color: var(--color-gray);
  color: var(--color-background);
}

.google-icon {
  background-image: url("https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_google-256.png");
  background-repeat: no-repeat;
  background-position: left 20px center;
  background-size: 20px 20px;
  background-color: var(--color-cards);
  color: var(--color-gray);
}

/* ! Dashboard */


